*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

/* HEADER */

header{
    background: linear-gradient(135deg, #0d6efd, #001f54);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1{
    font-size: 45px;
    margin-bottom: 10px;
}

header p{
    font-size: 18px;
}

/* NAV */

nav{
    background-color: #001f54;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: #00d2ff;
}
/* INICIO */

.inicio-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.inicio-texto{
    flex: 1;
}

.inicio-texto h2{
    font-size: 45px;
    color: #0d6efd;
    margin-bottom: 20px;
}

.inicio-texto p{
    margin-bottom: 15px;
    font-size: 17px;
    color: #555;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover{
    background: #001f54;
}

.inicio-imagen{
    flex: 1;
    text-align: center;
}

.inicio-imagen img{
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.inicio-imagen figcaption{
    margin-top: 10px;
    color: #666;
    font-style: italic;
}

/* MAIN */

main{
    width: 90%;
    margin: 30px auto;
}

/* SECTION */

section{
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

section h2{
    margin-bottom: 20px;
    color: #0d6efd;
}

/* ARTICLE */

article{
    margin-top: 15px;
}

/* FIGURE */

figure{
    margin-top: 25px;
    text-align: center;
}

figure img{
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
}

figcaption{
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

/* GALERÍA */

.galeria-contenedor{
    display: flex;
    width: 100%;
    height: 500px;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.tarjeta{
    flex: 0.7;
    min-width: 180px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.8s ease;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.tarjeta:hover{
    flex: 5;
}

.contenido{
    width: 100%;
    padding: 30px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.9) 0%,
        transparent 100%
    );
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}

.tarjeta:hover .contenido{
    opacity: 1;
    transform: translateY(0);
}

.contenido h3{
    margin-bottom: 10px;
    font-size: 28px;
}

/* ASIDE */

aside{
    background: #fff3cd;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    border-left: 8px solid #ffc107;
}

mark{
    background: yellow;
    padding: 3px 8px;
    border-radius: 5px;
}

/* DETAILS */

details{
    background: #f1f3f5;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

summary{
    cursor: pointer;
    font-weight: bold;
    color: #0d6efd;
}


/* FOOTER */

footer{
    background: #001f54;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}